<template>

    <button class="rounded-full h-10 w-10 absolute bg-yellow-800 border-yellow-700"
            :class="{taken: taken}"
            :style="{ bottom: y + 'px', left: x + 'px' }"
            @click="toggle">

    </button>

</template>

<script>
    export default {

        props: ['taken', 'radius', 'index', 'n'],

        computed: {

            angle: function() {
                return 2 * Math.PI / this.n * this.index;
            },

            x: function () {
                let angleRad = 2 * Math.PI / this.n * this.index;
                let x = this.radius/2 + this.radius/2 * Math.cos(this.angle);
                return x - 25
            },

            y: function () {
                let y = this.radius/2 + this.radius/2 * Math.sin(this.angle)
                return y - 25
            }

        },

        methods: {

            toggle() {
                this.$emit('toggle', this.index)
            }

        }

    }
</script>


<style>
    .taken {
        background-color: hsl(23, 16%, 30%);
    }
</style>