<template>
    <div id="room" class="w-screen h-screen">
        <div class="md:absolute md:top-0 md:left-0 p-5">
            <div class="flex items-center border-b border-b-2 border-grey-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       :class="{'error': true}"
                       type="text"
                       v-model="newSeats"
                       @change="resetTable"
                       placeholder="Number of seats"
                       aria-label="Number of seats">
            </div>
            <div class="flex items-center border-b border-b-2 border-grey-500 py-2">
                <input class="appearance-none w-full bg-transparent border-none text-gray-800 pl-2 leading-tight focus:outline-none"
                       type="text"
                       v-model="form.sizeOfNewGroup"
                       placeholder="Size of group"
                       aria-label="Size of group">
                <button class="flex-shrink-0 bg-gray-500 hover:bg-gray-700 border-gray-500 hover:border-gray-700 text-sm border-4 text-white py-1 px-2 rounded"
                        type="button"
                        @click="onBtnSimulate">
                    Simulate
                </button>
            </div>


            <div class="text-red-600" v-show="form.errors.any()">
                <strong>Oh snap!</strong> {{  form.errors.message }}
                <ul>
                    <li v-for="error in form.errors.errors">{{ error[0] }}</li>
                </ul>
            </div>

        </div>
        <div class="p-8">
            <div id="bar" class="flex justify-center items-center md:h-screen">
                <div class="relative flex justify-center items-center"
                     :style="{ width: radius + 'px', height: radius + 'px' }">
                    <div class="sushiTable rounded-full bg-yellow-900 flex justify-center items-center text-padwhite text-5xl">
                        <span v-if="maister.happy">
                            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                 style="fill: #E8C391">
                                <path fill-rule="evenodd"
                                      d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-18a8 8 0 1 0 0 16 4 4 0 1 1 0-8 4 4 0 1 0 0-8zm0 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0-8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </span>
                    </div>
                    <template v-for="(taken, index) in form.seats">
                        <seat
                                :taken="taken"
                                :index="index"
                                :n="n"
                                :radius="radius"
                                @toggle="toggleSeat"></seat>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios'
    import Form from '../core/Form'

    const FRONT_MAX_SEATS = 40;

    export default {
        props: ['initialNumberOfSeats', 'radius'],
        data: function () {
            return {
                
                newSeats: this.initialNumberOfSeats,

                form: new Form({
                    sizeOfNewGroup: 1,
                    seats: []
                }),

                maister: {
                    happy: true
                }
            }
        },

        mounted() {
            this.form.seats = new Array(this.initialNumberOfSeats).fill(false)
        },

        computed: {
            n: function () {
                return this.form.seats.length;
            }
        },

        methods: {

            resetTable() {
                // we give some limitation so that browser does not render to many seats and breaks
                if (this.newSeats > FRONT_MAX_SEATS) {
                    this.newSeats = FRONT_MAX_SEATS;
                }

                if (Number.parseInt(this.newSeats) < 1) {
                    this.newSeats = 1
                }

                if ( ! Number.isInteger(this.newSeats)) {
                    this.newSeats = Number.parseInt(this.newSeats)
                }

                if (this.newSeats > 0) {
                    this.form.seats = new Array(parseInt(this.newSeats)).fill(false)
                }
            },

            onBtnSimulate: function () {
                this.getBestSeats()
            },

            toggleSeat: function (index) {
                this.$set(this.form.seats, index, !this.form.seats[index])
            },

            getBestSeats() {

                this.form.post('/distribution').then(response => {

                    if (!response) {
                        return this.maister.happy = false;
                    }

                    this.maister.happy = true


                    this.form.seats = []
                    for (let seat of response) {
                        this.form.seats.push(seat)
                    }

                })
            }
        }
    }

</script>

<style>
    .sushiTable {
        height: 60%;
        width: 60%;
    }

    #room {
        overflow: hidden;
    }

    @media (min-width: 1280px) {
        #room {
            background: url("maister.png") no-repeat bottom right;
        }
    }
</style>